
-if current_user
  .centered
    .widget
      %p= "Logged in as #{current_user.login}"

- unless current_user
  .centered
    .widget{:id => 'login_widget'}
      - form_for UserSession.new do |f|
        - f.error_messages
        %br
        .css_table
          .label= f.label :login
          .value= f.text_field :login
        .css_table
          .label= f.label :password
          .value= f.password_field :password
        .clear
        .login_bttn=f.submit("Login")
        %br
